navii {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 80px;
    box-shadow: 0 5px 15 rgba(0,0,0,0.06)
}
#adminnavbar{
    display:flex;
    align-items: center;
    justify-content: center;
}

#adminnavbar li {
    list-style: none;
    padding: 0 120px;
    position: relative;

}

#adminnavbar li a{
    text-decoration: none;
    font.size: 1.3rem;
    font-weight: 600;
    color: #000;
    transition: 0.3s ease-in-out;
}

#adminnavbar li a:hover
#adminnavbar li a.active {
    color: #17cf97
}

#adminnavbar li a:hover::after
#adminnavbar li a.active::after
{
content:"";
width: 30%;
height: 2px;
background: #17cf97;
position: absolute;
bottom: -4px;
left: 120px; 
}