

@font-face {
    font-family: Shakadelic;
    src: url(../../public/fonts/Shagadelic\ Bold.ttf);
  }

  @font-face {
    font-family: Grooven;
    src: url(../../public/fonts/Grooven-Shine.otf);
  }

  @font-face {
    font-family: Hobo;
    src: url(../../public/fonts/HoboStd.otf);
  }

  @font-face {
    font-family: Knife princess;
    src: url(../../public/fonts/Knife\ Princess.ttf);
  }


.navbar-custom {
    border:2px solid #ADEFD1FF;
    position: fixed;
    z-index: 1100;
    top: 0;
    width:100%;
}



.nav.link1{
    color:#ADEFD1FF !important;
    font-size: 20px;
    font-family:Hobo;
    -webkit-text-stroke: 1px black;
    position: relative;
}

.nav.link1::before {
    content: '';
    position:absolute;
    background:#00203FFF;
    top:50%;
    left:3;
    width:100%;
    height:100%;
    }


.navbar-brand {
    color:#ADEFD1FF !important;
    font-size: 45px;
    font-weight: 1200;
    font-family:Knife princess;
    -webkit-text-stroke: 0.05em rgb(6, 6, 6);
    position: relative;
}

.navbar-brand::before {
    content: '';
    position:absolute;
    background:#ADEFD1FF;
    top:40%;
    left:0;
    width:100%;
    height:100%;

    transform: perspective(8em) rotateX(70deg)
    scale(1,0.15);
    filter: blur(1.5em);

}

.dropdown-item {
    background-color: #00203FFF;
    color:#ADEFD1FF !important;
    font-family:Hobo;
    font-size: 25px;
    -webkit-text-stroke: 1px rgb(8, 8, 8);
    padding: 10px 15 10;
}

.dropdown-menu {
    background-color: rgb(21, 222, 68);
}



.nav-item {
    list-style: none;
}

.nav-link{ /*navbarin linkkien nimet */
    color:#ADEFD1FF !important;
    font-weight: 500;
    font-size: 27px;
    font-family:Hobo;
    -webkit-text-stroke: 1.5px black;
    position: relative;
    margin-top: 18px;
    
}
.nav-link:hover{
    background-color:#00203FFF;
    color:#ADEFD1FF;
    transition: 0.2s;
    border: rgb(224, 25, 174) 0.100em solid;
        padding: 0.20em 0.15em;
        border-radius: 0.55em;
    }


.dropdown-item {
    background-color: #00203FFF;
    color:#ADEFD1FF !important;
    font-family:Hobo;
    font-size: 25px;
    -webkit-text-stroke: 1px rgb(8, 8, 8);
    padding: 10px 10 10;
}

.dropdown-menu {
    background-color: #ADEFD1FF;
    border: 1.5px solid;
    border-color: #ADEFD1FF;
}

i { /*navbarin iconit*/
    margin-left: 0 15px 5px 0;
    width: 10px;
    height: 10px;
    padding: 2px;
    font-size: 40px;
}
.bi-cart {
    color: #ADEFD1FF;
}

.bi-cart:hover, .bi-search:hover{
    background-color:#00203FFF;
    color:#ADEFD1FF;
    transition: 0.2s;
    border: rgb(224, 25, 174) 0.100em solid;
        padding: 0.20em 0.15em;
        border-radius: 0.55em;
    }

button.navbar-toggler {
    background-color: #ADEFD1FF;
}


.nav-item {
    list-style: none;
} 
   /* Modify the background color */  
.navbar-custom {
    background-color: #00203FFF;
}        /* Modify brand and text color */ 

