
.tuotteetinfo  {
    border: 3px;
    border-radius: 3px;
    border-style: solid;
    margin: 10 !important; 
    font-size: large;
}

.tuotteetotsikko {
    font-size: xx-large;
    
}
span.tuote{
    color: aliceblue;
    
    margin: 10px !important;
}

h3.text-center{
    color: black;
}