.tuotteet{
    color: aliceblue;
    padding: 25px;
    margin: 10px;
    
}
.tuotteetinfo  {
    border: 3px;
    border-radius: 3px;
    border-style: solid;
    margin: 10 !important; 
    font-size: large;
}

.tuotteetotsikko {
    font-size: xx-large;
    
}