.tuotteet{
    color: aliceblue;
    padding: 25px !important;
    margin: 10px !important;
}
.tuotteetinfo  {
    border: 3px;
    border-radius: 3px;
    border-style: solid;
    margin: 10 !important; 
    font-size: large;
}

.tuotteetotsikko {
    font-size: xx-large;
    
}